@charset "utf-8";

/* common
-----------------------------> */
body {
  line-height: 1.6;
  width: 100%;
  font-family: var(--main--font--ko);
  word-break: keep-all;
  /* --bg-color: #000;
  background-color: var(--bg-color); */
}

/* header 
-----------------------------> */
.header-wrapper {
  color: #fff;
  background-color: #000;
  height: 100vh;
  font-family: var(--main--font--en);
}

#mouse-over-label:active ~ .menubars {
  display: block;
  z-index: 99999px;
  background-color: #259345;
}

#mouse-over-label:checked ~ .menubars {
  display: block;
  z-index: 99999px;
}

.menubars {
  display: none;
  z-index: 99999px;
}

.menubars {
  position: relative;
  top: 150px;
  right: 50px;
}

.menubars li {
  font-size: 2rem;
  position: relative;
  top: 150px;
  right: 50px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.header-menu {
  z-index: 9999px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding-left: 10px;
}

.header-menu img {
  width: 30px;
  position: absolute;
  right: 2px;
  cursor: pointer;
}

.header-menu h1 {
  font-size: 1.5rem;
  font-weight: 200;
  font-family: var(--main--font-en);
}

.main {
  color: #fff;
  position: absolute;
  top: 350px;
  left: 80px;
}

.main h2 {
  font-size: 3rem;
  margin: 0;
  font-weight: bold;
  line-height: normal;
}
.circle1 {
  position: relative;
  bottom: 200px;
}

.circle1 span {
  filter: blur(50px);
  text-indent: -9999px;
  border-radius: 50%;
  display: block;
  width: 50%;
  height: 200px;
  position: relative;
  bottom: 300px;
  background: radial-gradient(
    -90deg,
    #79fb9e,
    rgba(189, 93, 4, 0.658),
    rgba(542, 548, 211) ;
  );
  animation: circle_move 20s linear infinite alternate;
}
@keyframes circle_move {
  0% {
    left: 10px;
  }
  30% {
    left: 120px;
  }
  50% {
    bottom: 250px;
    background-color: #79fb9e;
  }
  70% {
    bottom: 280px;
    background-color: rgba(
      rgb(255, 38, 0),
      rgb(128, 19, 0),
      rgba(255, 121, 98, 0.753)
    );
  }
  80% {
    left: 120px;
    background-color: tomato;
  }
  100% {
    left: 10px;
    background-color: salmon;
  }
}

/* main1: about us 
-----------------------------> */
.about-container {
  width: 100vw;
}

.about1-wrap {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

/* main1: 텍스트 설정 */
/* main1: about1+2 text setting */
.about-container h3 {
  font-family: var(--title--font-en);
  font-size: 1.4rem;
  line-height: 1;
  font-weight: bold;
  color: #666;
  margin: 30px 0;
}

.about-container h2 {
  font-family: var(--main--font--en);
  line-height: 1;
  font-size: 2.3rem;
  font-weight: 100;
  margin: 10px 0;
}

.about-container .about1-txt h2 {
  color: #222;
}

.about-container .about1-txt p {
  color: #444;
}

.about-container p {
  font-weight: 200;
}

/* main1: about1 섹션 텍스트 */
.about1-wrap .about1-txt {
  width: 90vw;
  margin: 0 auto;
}

/* main1: 배경 설정 */
.about1-wrap .about1-bg {
  height: 60%;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}

.about1-wrap .about1-bg .bg-line-wrap {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.about1-wrap .about1-bg .bg-line-wrap .line {
  text-indent: -9999px;
  display: block;
  width: 90%;
  height: 60px;
  border: 1px solid #ff6435;
  border-radius: 60%;
  position: absolute;
  bottom: 10px;
}

.about1-wrap .about1-bg .bg-line-wrap .line:nth-child(-n + 4) {
  width: 90%;
  height: 60px;
  border: 1px dotted #222;
  border-radius: 60%;
  bottom: 0;
}

.about1-wrap .about1-bg .gradi-circle {
  width: 40vw;
  height: 40vw;
  position: absolute;
  top: -180px;
  opacity: 0;
  /* animation: rotate 2s linear infinite; */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.about2-wrap {
  height: 100vh;
  position: relative;
  background: linear-gradient(
    #fff 0%,
    /* rgba(62, 214, 105, 0.677083) 10%, */ rgba(34, 221, 87, 0.624186) 15%,
    rgba(16, 120, 46, 1) 50%,
    rgba(0, 0, 0, 0.9) 90%,
    #000 100%
  );
}

.about2-bg .gradi-circle {
  width: 90vw;
  height: 90vw;

  position: absolute;
  top: -12%;
  right: -25%;
  /* opacity: 0; */
}

/* main1: about1+2 circle setting */
.about-container .gradi-circle {
  text-indent: -99999px;
  border-radius: 50%;
  background: radial-gradient(at 65% 40%, #10782e, #59c076, #7de69b);
}

/* main1: about2 섹션 텍스트 */
.about2-txt {
  color: #fff;
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*  main2: solution
-----------------------------> */
.solution-container {
  background-color: #000;
  color: #fff;
  width: 100%;
  font-family: var(--main--font--en);
}

.solution-wrap1 {
  height: 100vh;
  position: relative;
  bottom: 500px;
}
video {
  background: url(./assets/images/wave.svg) no-repeat;
  background-repeat: repeat-x;
  width: 100%;
  position: relative;
}
.video1 {
  top: 80px;
  animation: wave 8s linear infinite alternate;
  transform: rotate(-37deg);
}
@keyframes wave {
  to {
    background-position: 1200px 130%, 6150px 130%, 150px 180%;
  }
}
.video2 {
  bottom: 120px;
  animation: wave1 8s linear infinite alternate-reverse;
  transform: rotate(-30deg);
}
@keyframes wave1 {
  to {
    background-position: 1500px 130%, 6550px 130%, 150px 100%;
  }
}
.video3 {
  bottom: 280px;
  animation: wave2 8s linear infinite alternate-reverse;
  transform: rotate(-40deg);
}
@keyframes wave2 {
  to {
    background-position: 1200px 130%, 6000px 130%, 180px 130%;
  }
}
.solution-wrap2 {
  height: 100vh;
}

.solution-wrap1 p {
  font-size: 0.731rem;
}

.solution-wrap1 h5 {
  font-size: 1.219rem;
}

.solution-wrap1 h3 {
  position: relative;
  font-size: 1.95rem;
  margin-left: 20px;
  bottom: 250px;
  font-family: var(--title--font-en);
}

.solution-wrap1 .solution1-txt1 {
  position: relative;
  left: 60px;
  width: 60px;
}

.solution-wrap1 .solution1-txt2 {
  position: relative;
  left: 150px;
  bottom: 140px;
  width: 130px;
}

.solution-wrap1 .solution1-txt3 {
  position: relative;
  bottom: 260px;
  left: 270px;
  width: 120px;
}

.numbers-txt {
  position: relative;
  font-family: var(--main--font--en);
}

.solution-wrap2 .solution2-txt1,
.solution2-txt2,
.solution2-txt3 {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  top: 250px;
}

.solution-wrap2 h5,
span {
  font-size: 0.731rem;
  width: 80px;
  margin-left: 15px;
  margin-right: 5px;
}

.solution-wrap2 span {
  color: #fa6738;
}

.solution-wrap2 p {
  font-size: 0.609rem;
  text-align: left;
}

.solution-wrap2 .solution2-txt1-1 {
  text-align: left;
}

.solution-wrap2 .solution2-txt1-2 {
  text-align: left;
}

.solution-wrap2 .solution2-txt1-3 {
  text-align: left;
  margin-left: 0;
}

.numbers-txt h3 {
  font-size: 1.219rem;
  padding-left: 20px;
  margin-bottom: 10px;
}

.numbers-txt p {
  font-size: 0.731rem;
  width: 330px;
  padding-left: 20px;
}

.global-mp4 {
  position: relative;
  top: 200px;
  left: 150px;
}

.solution-container img {
  position: relative;
  top: 350px;
}

.solution-wrap2 .global-mp4 video {
  width: 50%;
  position: relative;
  right: 50px;
  bottom: 100px;
}

/*  main3: what we do
-----------------------------> */
.whatwedo-container {
  position: relative;
  background-color: black;
  height: 150vh;
  color: white;
}

.whatwedo-container .whatwedo-wrap {
  position: absolute;
  top: 15vh;
  left: 4vw;
}

.whatwedo-container .whatwedo-wrap h3 {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 2vw;
  font-family: var(--title--font-en);
  font-size: 5vw;
  line-height: 1;
  color: #ffffff;
}

.whatwedo-container .whatwedo-wrap h3 span {
  padding-top: 1.5vw;
  font-size: 3vw;
  text-align: left;
  margin: 0;
  font-family: var(--main--font--en);
}

.whatwedo-container .whatwedo-wrap p {
  display: block;
  line-height: 1.6;
  font-size: 3vw;
  text-align: left;
  font-family: var(--main--font--en);
  font-weight: 200;
}

/* what we do graph */
.whatwedo-container .whatwedo-graph {
  z-index: 2;
  position: relative;
  left: -2vw;
  transform: rotate(90deg);
}

/* 그래프 라인 */
.whatwedo-container .whatwedo-graph .graph-line {
  position: relative;
  top: -98px;
  left: 545px;
}

.whatwedo-container .whatwedo-graph .graph-line .gr1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 326px;
  height: 163px;
  border: 2px solid transparent;
  border-radius: 163px 163px 0 0;
  border-bottom: none;
  background-image: linear-gradient(#000000, #000000),
    linear-gradient(90deg, #fa6738, #79fb9e, #d9fee3);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.whatwedo-container .whatwedo-graph .graph-line .gr2 {
  position: absolute;
  top: 110px;
  left: 0vw;
  width: 110px;
  height: 55px;
  border: 2px solid transparent;
  border-radius: 55px 55px 0 0;
  border-bottom: none;
  background-image: linear-gradient(#000000, #000000),
    linear-gradient(90deg, #fa6738, #b2bb72);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.whatwedo-container .whatwedo-graph .graph-line .gr2-1 {
  position: absolute;
  top: 135px;
  width: 56px;
  height: 28px;
  border: 1px dashed rgba(255, 255, 255, 0.3);
  border-radius: 28px 28px 0 0;
  border-bottom: none;
}

.whatwedo-container .whatwedo-graph .graph-line .gr3 {
  position: absolute;
  top: 83px;
  left: 108px;
  width: 164px;
  height: 82px;
  border: 2px solid transparent;
  border-radius: 82px 82px 0 0;
  border-bottom: none;
  background-image: linear-gradient(#000000, #000000),
    linear-gradient(90deg, #b2bb72, #79fb9e, #b2fdc7);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.whatwedo-container .whatwedo-graph .graph-line .gr3-1 {
  position: absolute;
  top: 135px;
  left: 108px;
  width: 56px;
  height: 28px;
  border: 1px dashed rgba(255, 255, 255, 0.3);
  border-radius: 28px 28px 0 0;
  border-bottom: none;
}

.whatwedo-container .whatwedo-graph .graph-line .gr3-2 {
  position: absolute;
  top: 105px;
  left: 108px;
  width: 110px;
  height: 55px;
  border: 1px dashed rgba(255, 255, 255, 0.3);
  border-radius: 55px 55px 0 0;
  border-bottom: none;
}

.whatwedo-container .whatwedo-graph .graph-line .gr4 {
  position: absolute;
  top: 136px;
  left: 270px;
  width: 56px;
  height: 28px;
  border: 2px solid transparent;
  border-radius: 28px 28px 0 0;
  border-bottom: none;
  background-image: linear-gradient(#000000, #000000),
    linear-gradient(90deg, #b2fdc7, #d9fee3);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.whatwedo-container .whatwedo-graph .graph-line .gr5 {
  position: absolute;
  top: 136px;
  left: 323px;
  width: 56px;
  height: 28px;
  border: 2px solid transparent;
  border-radius: 28px 28px 0 0;
  border-bottom: none;
  background-image: linear-gradient(#000000, #000000),
    linear-gradient(90deg, #d9fee3, #ffffff);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/* 도트 모양 */
.whatwedo-container .whatwedo-graph .graph-dots {
  position: absolute;
  top: -150px;
  left: 708px;
  transform: rotate(90deg);
}

.whatwedo-container .whatwedo-graph .graph-dots .dot {
  border-radius: 50%;
  content: "";
  width: 7px;
  height: 7px;
  z-index: 1;
  background: #fff;
  margin-bottom: 12vw;
}

/* 화살표 모양 */
.whatwedo-container .whatwedo-graph .graph-arrow {
  position: absolute;
  top: -123px;
  left: 708px;
  transform: rotate(90deg);
}

.whatwedo-container .whatwedo-graph .graph-arrow .arw {
  content: "";
  margin-bottom: 12vw;
  width: 6px;
  height: 7px;
  background: url("./assets/images/arrow1.svg");
  transform: rotate(-90deg);
}

/* 그래프 점선 기본 라인 */
.whatwedo-container .whatwedo-graph .whatwedo-line {
  position: relative;
  top: 65px;
  left: 540px;
  width: 100vw;
  height: 1px;
}

.whatwedo-container .whatwedo-graph .whatwedo-line div {
  background-color: white;
  width: 100%;
  height: 1px;
  left: 0;
  z-index: 1;
  position: absolute;
}

/* graph txt */
.whatwedo-container .whatwedo-graph .whatwedo-txt {
  position: absolute;
  top: -50px;
  left: 703px;
  height: 90vw;
  width: 20vw;
  margin: 0 auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  transform: rotate(-90deg);
}

/*.whatwedo-container .whatwedo-graph .whatwedo-txt::after {
  position: absolute;
  border-radius: 50%;
  content: "";
  left: 26vw;
  top: -5vw;
  width: 7px;
  height: 7px;
  background-color: white;
}*/
.whatwedo-container .whatwedo-graph .whatwedo-txt .item {
  position: relative;
  height: 30px;
}

.whatwedo-container .whatwedo-graph .whatwedo-txt .item h6 {
  display: flex;
  flex-direction: column;
  font-size: 2vw;
  left: -22px;
  bottom: -13vw;
  text-align: left;
  box-sizing: border-box;
}

/*.whatwedo-container .whatwedo-graph .whatwedo-txt .item::after {
  position: absolute;
  border-radius: 50%;
  content: "";
  left: 26vw;
  bottom: -1vh;
  width: 7px;
  height: 7px;
  z-index: 1;
  background: #fff;
}
.whatwedo-container .whatwedo-graph .whatwedo-txt .item::before {
  position: absolute;
  content: "";
  left: 26vw;
  bottom: 2vh;
  width: 6px;
  height: 7px;
  background: url("./assets/images/arrow1.svg");
  transform: rotate(90deg);
}*/
.whatwedo-container .whatwedo-graph .whatwedo-txt .item h6 span {
  line-height: 1;
  height: auto;
  font-size: 2vw;
  padding-bottom: 5px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

.whatwedo-container .whatwedo-graph .whatwedo-txt .item h4 {
  font-size: 2.8vw;
  z-index: 11;
  text-align: left;
  position: absolute;
  left: 40vw;
}

.whatwedo-container .whatwedo-graph .whatwedo-txt .item h4 span {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

.whatwedo-container .whatwedo-graph .whatwedo-txt .item .item-txt1 {
  left: 70vw;
  top: 17vh;
}

.whatwedo-container .whatwedo-graph .whatwedo-txt .item .item-txt2 {
  left: 41vw;
  top: 3vh;
}

.whatwedo-container .whatwedo-graph .whatwedo-txt .item .item-txt3 {
  left: 48vw;
  top: 5vh;
}

.whatwedo-container .whatwedo-graph .whatwedo-txt .item .item-txt4 {
  left: 34vw;
  top: -2vh;
}

.whatwedo-container .whatwedo-graph .whatwedo-txt .item .item-txt5 {
  left: 34vw;
  top: -1vh;
}

.whatwedo-container .whatwedo-graph .whatwedo-txt .item .item-txt6 {
  left: 70vw;
  top: -1vh;
}

/*  main4: our work
-----------------------------> */
.work-container {
  background-color: black;
  height: 100%;
}

.work-container .wrapper-txt div {
  display: block;
  width: 100%;
  height: 60vw;
  position: relative;
  overflow: hidden;
}

.work-container .wrapper-txt .top > div {
  left: 5vw;
  margin-top: 25vw;
  width: 70vw;
  height: 70vw;
  position: relative;
  background: url(./assets/images/circle_orange.svg) center center no-repeat;
  background-size: cover;
}

.work-container .wrapper-txt .top > div::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background: linear-gradient(to bottom, #000 0%, transparent 50%);
}

.work-container .wrapper-txt .bottom > div {
  left: 5vw;
  margin-top: -30vw;
  width: 70vw;
  height: 70vw;
  filter: blur(20px);
  position: relative;
  background: url(./assets/images/circle_orange.svg) center center no-repeat;
  background-size: cover;
}

.work-container .wrapper-txt .bottom h3 {
  position: absolute;
  top: 13vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 10vw;
  text-align: center;
  font-weight: 100;
  font-family: var(--title--font-en);
  line-height: 1.4;
  color: white;
}

/* 이미지 슬라이드 쇼 */
.work-container .wrapper-img {
  padding: 0 0 30vw;
}

.work-container .wrapper-img .work-img-wrap {
  position: relative;
  overflow: hidden;
  width: 80vw;
  height: 80vw;
  margin: 0 auto;
}

.work-container .wrapper-img .work-img-wrap > div {
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s ease;
  opacity: 0;
}

.work-container .wrapper-img .work-img-wrap div a img {
  width: 80vw;
  height: 80vw;
  object-fit: cover;
  display: inline-block;
}

.work-container .wrapper-img .work-img-wrap > div.on {
  opacity: 1;
}

.work-container .wrapper-img .work-img-wrap .work-control {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
}

.work-container .wrapper-img .work-img-wrap .work-control a {
  display: inline-block;
  width: 10px;
  height: 5px;
  background: #f6f5f5;
  line-height: 26px;
  font-size: 0.5rem;
  border-radius: 10px;
  margin: 0 2px;
}

.work-container .wrapper-img .work-img-wrap .work-control a.on {
  background: #dc6e36;
}

/* main5: contact us 
----------------------------- */
.contact-container {
  background-color: #000;
  width: 100%;
  height: 100vh;
  font-family: var(--main--font--en);
  color: #fff;
}

.contact-container .ctt-gradi-circle {
  text-indent: -999px;
  width: 100vw;
  height: 70vw;
  border-radius: 50%;
  background: radial-gradient(
    40% 32% at 75% 75%,
    rgba(62, 214, 105, 0.677083) 0%,
    rgba(34, 221, 87, 0.624186) 29.17%,
    rgba(62, 214, 105, 0) 100%
  );

  position: relative;
  right: 35vw;
  top: 20vw;
}

.contact-wrap .ctt-form-wrap {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.contact-wrap .ctt-form-wrap .ctt-title {
  font-family: var(--title--font-en);
  font-size: 3.5em;
  text-align: center;
  margin: 50px 0 30px;
  z-index: 111;
}

.contact-wrap .ctt-form-wrap .input-wrap {
  width: 80%;
}

.contact-wrap .ctt-form-wrap input {
  margin-bottom: 30px;
  padding-bottom: 10px;
  width: 100%;
  color: #666;
  border-bottom: 1px solid #666;
  position: relative;
}

.contact-wrap .ctt-form-wrap input:focus {
  border-bottom: 1px solid #79fb9e;
  color: #fff;
  transition: 0.6s;
}

.contact-wrap .ctt-form-wrap .ctt-btn {
  width: 80%;
  height: 70px;
  color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(to right, #259345 20%, transparent);
  text-align: center;
  font-weight: bold;
  transition: 0.5s;
}

.contact-wrap .ctt-form-wrap .ctt-btn:hover {
  background: linear-gradient(to right, #ff8d35 20%, transparent);
  transition: 0.5s;
}

.contact-wrap > h2 {
  font-family: var(--title--font-en);
  font-size: 2em;
  width: 80%;
  margin: 50px auto 0;
  padding-bottom: 150px;
}

/* footer
----------------------------- */
.footer-container {
  background-color: #000;
  height: 60vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
  font-family: var(----title--font-en);
}

.footer-container p {
  color: #ffffff80;
  font-size: 1.125rem;
}

.footer-container .text1 {
  margin-right: 120px;
}

.footer-container .text1 span {
  font-size: 1rem;
  margin-top: 20px;
}

.footer-container .text2 {
  margin-bottom: 20px;
}

.footer-container .text2 p {
  margin-bottom: 10px;
  margin-left: 12px;
  font-size: 1.125rem;
}

.footer-container .text2 span {
  margin-bottom: 20px;
  font-size: 0.976rem;
}

.footer-container .text3 {
  position: relative;
  bottom: 25px;
  margin-bottom: 10px;
}

.footer-container .text3 p {
  margin-left: 14px;
  font-size: 1.125rem;
}

.footer-container .text3 span {
  font-size: 0.976rem;
  margin-bottom: 10px;
}

.footer-container .text4 {
  position: relative;
  bottom: 40px;
  text-align: left;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.footer-container .text4 p {
  font-size: 1.125rem;
  margin-bottom: 10px;
}

.footer-container .text4 span {
  position: relative;
  right: 15px;
  font-size: 0.976rem;
  width: 150px;
  white-space: break-all;
}

.footer-container .footer {
  position: relative;
  bottom: 40px;
  margin-left: 20px;
  right: 5px;
}

.footer-container .footer p {
  font-size: 11.7px;
  color: #79fb9e80;
  margin-bottom: 16px;
  font-size: 0.733rem;
}

.footer-container .footer span {
  font-size: 0.813rem;
  color: #ffffff80;
  margin: 0;
}
