@charset "utf-8";

/* 임시 setting : 섹션 숨김
----------------------------->
.header-wrapper,
.solution-container,
.whatwedo-container,
.work-container,
.footer-container {
  display: none;
} */

/* common
-----------------------------> */
body {
  line-height: 1.6;
  width: 100%;
  font-family: var(--main--font--ko);
  word-break: keep-all;
  /* overflow: hidden; */
  /* --bg-color: #000;
  background-color: var(--bg-color); */
}

/* main1: about us 
-----------------------------> */
main {
}
.about-container {
  width: 100vw;
}
.about1-wrap {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

/* main1: 텍스트 설정 */
/* main1: about1+2 text setting */
.about-container h3 {
  font-family: var(--title--font-en);
  font-size: 1.4rem;
  line-height: 1;
  font-weight: bold;
  color: #666;
  margin: 30px 0;
}

.about-container h2 {
  font-family: var(--main--font--en);
  line-height: 1;
  font-size: 2.3rem;
  font-weight: 100;
  margin: 10px 0;
}
.about-container .about1-txt h2 {
  color: #222;
}
.about-container .about1-txt p {
  color: #444;
}

.about-container p {
  font-weight: 200;
}

/* main1: about1 섹션 텍스트 */
.about1-wrap .about1-txt {
  width: 90vw;
  margin: 0 auto;
}

/* main1: 배경 설정 */
.about1-wrap .about1-bg {
  height: 60%;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}
.about1-wrap .about1-bg .bg-line-wrap {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.about1-wrap .about1-bg .bg-line-wrap .line {
  text-indent: -9999px;
  display: block;
  width: 90%;
  height: 60px;
  border: 1px solid #ff6435;
  border-radius: 60%;
  position: absolute;
  bottom: 10px;
}
.about1-wrap .about1-bg .bg-line-wrap .line:nth-child(-n + 4) {
  width: 90%;
  height: 60px;
  border: 1px dotted #222;
  border-radius: 60%;
  bottom: 0;
}
.about1-wrap .about1-bg .gradi-circle {
  width: 40vw;
  height: 40vw;
  position: absolute;
  top: -180px;
  opacity: 0;
  /* animation: rotate 2s linear infinite; */
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.about2-wrap {
  height: 100vh;
  position: relative;
  background: linear-gradient(
    #fff 0%,
    /* rgba(62, 214, 105, 0.677083) 10%, */ rgba(34, 221, 87, 0.624186) 15%,
    rgba(16, 120, 46, 1) 40%,
    rgba(0, 0, 0, 0.9) 90%,
    #000 100%
  );
}
.about2-bg .gradi-circle {
  width: 90vw;
  height: 90vw;

  position: absolute;
  top: -12%;
  right: -25%;
  opacity: 0;
}

/* main1: about1+2 circle setting */
.about-container .gradi-circle {
  text-indent: -999px;
  border-radius: 50%;
  background: radial-gradient(at 65% 40%, #10782e, #59c076, #7de69b);
}
/* main1: about2 섹션 텍스트 */
.about2-txt {
  color: #fff;
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* main5: contact us 
----------------------------- */
.contact-container {
  width: 100%;
  height: 100vh;
  font-family: var(--main--font--en);
  background-color: #000;
  color: #fff;
}

.contact-container .ctt-gradi-circle {
  text-indent: -999px;
  width: 100vw;
  height: 70vw;
  border-radius: 50%;
  background: radial-gradient(
    40% 32% at 75% 75%,
    rgba(62, 214, 105, 0.677083) 0%,
    rgba(34, 221, 87, 0.624186) 29.17%,
    rgba(62, 214, 105, 0) 100%
  );

  position: relative;
  right: 35vw;
  top: 20vw;
}

.contact-container .ctt-form-wrap {
  display: grid;
  justify-items: center;
}
.contact-container .ctt-form-wrap .ctt-title {
  font-family: var(--title--font-en);
  font-size: 3.5em;
  text-align: center;
  margin: 50px 0 30px;
  z-index: 111;
}
.contact-container .ctt-form-wrap p {
  width: 80%;
}
.contact-container .ctt-form-wrap input {
  margin-bottom: 30px;
  padding-bottom: 10px;
  width: 100%;
  color: #666;
  border-bottom: 1px solid #666;
  position: relative;
}
.contact-container .ctt-form-wrap input:focus {
  border-bottom: 1px solid #79fb9e;
  color: #fff;
  transition: 0.6s;
}
.contact-container .ctt-form-wrap .ctt-btn {
  width: 80%;
  height: 70px;
  color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(to right, #259345 20%, transparent);
  text-align: center;
  font-weight: bold;
  transition: 0.5s;
}
.contact-container .ctt-form-wrap .ctt-btn:hover {
  background: linear-gradient(to right, #ff8d35 20%, transparent);
  transition: 0.5s;
}

.contact-container > h2 {
  font-family: var(--title--font-en);
  font-size: 2em;
  width: 80%;
  margin: 50px auto;
}
